/*
* @Author: admin
* @Date:   2018-08-22 09:23:41
* @Last Modified by:   admin
* @Last Modified time: 2018-08-22 09:34:58
*/
.mint-swipe-items-wrap{
	padding-bottom:51%;
}
.product .mint-swipe-items-wrap{
	padding-bottom:70%;
}
.vedio .mint-swipe-items-wrap{
	padding-bottom:54%;
}